<h1>These are a few of my favorite things</h1>


<ul id="quote_list">
  <%= render "quote_list" %>
</ul>


<p><%= link_to "New Quote", new_quote_path, remote: true %></p>

<div id="quote-form"></div>
